.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    background-color: black;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

.nav-list li {
    margin: 0 15px;
}

.nav-list a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;
    transition: color 0.3s ease;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav-list a:hover {
    color: lawngreen;
}

@media (max-width: 768px) {
    .nav-list a {
        font-size: 16px;
        padding: 5px;
    }
    
    .nav-list li {
        margin: 0 10px;
    }
}